* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: #3f3f33;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 50px;
  margin-bottom: 80px;
}

.timer {
  font-weight: bold;
  font-size: 50px;
}
.btns {
  margin: 20px;
}

button {
  padding: 12px 20px;
  font-weight: bold;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  margin: 0 4px;
}

button:hover {
  opacity: 0.9;
}

.laps {
  margin-top: 20px;
  text-align: center;
  width: 500px;
  overflow-y: auto;
}

.laps div {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  max-height: 350px;
  width: 500px;
  background-color: white;
  border-radius: 10px;
  overflow-y: auto;
}

.laps ul {
  list-style: none;
  max-height: 300px;
  overflow-y: auto;
}

.laps li {
  margin: 5px;
  color: black;
  padding: 6px 0;
  font-size: 18px;
}
